blockquote {
    color: #777777;
    font-style: italic;
    margin-left: 3em;
}
pre {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px dashed #CCCCCC;
    overflow: auto;
    padding: 1em;
}

.w-col-right {
    float: right !important;
}

.hero-cuztomized {
    padding-bottom: 10px !important;
}

.tn_photo {
    float: left;
    margin: 5px;
    width: 40px;
    cursor: pointer;
}

.video_link {
    height: 350px;
}

.price {
    color: #990000;
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

.description {
    margin-bottom: 30px;
    text-align: left;
}

#contact-form fieldset {
    text-align: left;
    border: 3px dashed #C3C3C3;
    padding: 5px;
    background-color: #F8F8F8;
}

#contact-form legend {
    font-weight: bold;
    font-size: 22px;
}

#contact-form input {
    width: 100%;
}

#contact-form textarea {
    width: 100%;
    height: 150px;
}

#contact-form label {
    font-weight: normal;
}

#contact-form input[type="submit"] {
    width: 70px;
    padding: 5px;
}

.errorlist {
    font-size: 12px;
    list-style: none outside none;
    padding: 0;
    color: #A03636;
    margin: 10px 0 -5px;
}

.mail-message {
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0;
}

.mail-success {
    color: #378A29;
}

.mail-error {
    color: #A03636;
}

#contact-form.contact-product legend {
    font-size: 12px !important;
}

#contact-form.contact-product .errorlist {
    font-size: 10px !important;
    margin: 0 0 -6px !important;
}

#contact-form.contact-product label {
    margin-bottom: 0 !important;
}

#contact-form.contact-product textarea {
    height: 50px;
}

#contact-form.contact-product .mail-message {
    font-size: 10px;
    line-height: 12px;
    margin: 0;
}

#social-buttons {
    margin: 10px 0;
}

#social-buttons span {
    margin-right: 5px;
}
