{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %} Envie uma mensagem {% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block script %}
<script src="{% static 'products/js/contact_form.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}

<div class="section">
    <div class="w-container">
        
        <div class="w-row">            
            <div class="w-col w-col-12" id="contact-form">
                <fieldset>
                    <legend>
                        &nbsp; Contato &nbsp;
                    </legend>

                    <form name="form-contact" id="form-contact" action="" method="post" accept-charset="utf-8">
                        {% if mail_sent == True %}
                        <p class='mail-message mail-success'>Mensagem enviada com sucesso!<br/>Em breve entraremos em contato.</p>
                        {% elif mail_sent == False %}
                        <p class='mail-message mail-error'>Não foi possível enviar a mensagem!<br/>Por favor, tente novamente.</p>
                        {% endif %}
                        
                        {% csrf_token %}
                        {{ form.as_p }}
                        <p>
                            <input type="submit" value="Enviar"/>
                        </p>
                    </form>
                </fieldset>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
