{% extends 'layout.html' %}
{% load thumbnail %}

{% block title %} Início {% endblock %}

{% block content %}

<div class="section hero">
    <div class="w-container">
        {% for product in product_banner %}
        <div class="w-row">
            <div class="w-col w-col-6 center">
                <img class="hero-image" width="auto" height="auto" src="{{ product.main_photo_set.image|thumbnail_url:'medium'|default:'holder.js/270x270' }}">
            </div>
            <div class="w-col w-col-6 hero-column">
                <h1>{{ product.title }}</h1>
                <p>{{ product.mark }} {{ product.model }} - {{ product.get_type_display }} | {{ product.year|stringformat:"s" }} | {{ product.km }} Km</p>
                <p>{{ product.description|striptags|truncatewords:23 }}</p>
                <a class="button action" href="{{ product.get_absolute_url }}" title="Confira!">R$ {{ product.price }}</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="section">
    <div class="w-container">
        
        <div id="search-wrap">
            <form action="">
                <input type="text" name="" id="" placeholder="Digite o que você procura" />
                <input type="submit" value="Buscar" />
            </form>
        </div>
        
        
        <div class="w-row">
            {% for product in product_list %}
            <div class="w-col w-col-3 w-col-small-6">
                <img src='{{ product.main_photo_set.image|thumbnail_url:"small"|default:"holder.js/140x140" }}'>
                <h3>{{ product.title }}</h3>
                <p>{{ product.get_type_display }}</p>
                <p>{{ product.year|stringformat:"s" }} | {{ product.km }} Km</p>
                <a class="button" href="{{ product.get_absolute_url }}" title="Confira!">R$ {{ product.price }}</a>
            </div>
            
            {% if forloop.counter|divisibleby:"4" %}
            </div><div class="w-row">
            {% endif %}
            
            {% empty %}
            
            <p>Em breve publicaremos os produtos disponíveis, aguardem!</p>
            
            {% endfor %}
        </div>
        
        
        <div class="w-row special-row">
            <div class="w-col w-col-8 special-column">
                <h3>Special text right here</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
            </div>
            <div class="w-col w-col-4 email-column"><a class="button action" href="#">Email Us</a>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}
