{% extends 'layout.html' %}

{% block content %}
<div class="section">
    <div class="w-container">
        <div id="search-wrap">
            <form action="">
                <input type="text" name="" id="" placeholder="Digite o que você procura" />
                <input type="submit" value="Buscar" />
            </form>
        </div>
        <div class="w-row">
            <div class="w-col w-col-3 w-col-small-6">
                <img data-src="holder.js/140x140" alt="">
                <h3>Feature 1</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 2</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 3</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 4</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
        </div>
        <div class="w-row">
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 5</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 6</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 7</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
            <div class="w-col w-col-3 w-col-small-6">
                <img src="img/image-placeholder.svg" alt="image-placeholder.svg">
                <h3>Feature 8</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p><a class="button" href="#">Button Text</a>
            </div>
        </div>
        <div class="w-row special-row">
            <div class="w-col w-col-8 special-column">
                <h3>Special text right here</h3>
                <p>This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. This is a feature description. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis.</p>
            </div>
            <div class="w-col w-col-4 email-column"><a class="button action" href="#">Email Us</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
