<!DOCTYPE html>
{% load staticfiles %}
{% load google_analytics %}
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} | MotoSucata.biz</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'products/css/normalize.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'products/css/webflow.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'products/css/structure.css' %}">
        <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">
        <link rel="apple-touch-icon" href="{% static '/img/thumbnail-starter.png' %}">
        
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="nav-section">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-4">
                        <div class="company"><a href="/" title="início">MotoSucata</a></div>
                    </div>
                    <div class="w-col w-col-8 navigation-column">
                        <a class="nav-link" href="/">Início</a>
                        <a class="nav-link" href="/q/type/sucata-inteira">Sucatas Inteiras</a>
                        <a class="nav-link" href="/q/type/peça-avulsa">Peças Avulsas</a>
                        <a class="nav-link last" href="/q/type/moto-documentada">Motos Documentadas</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="main-section">
            {% block content %}
            
            {% endblock %}
        </div>
        
        <div class="section footer">
            <div class="w-container">
                <div class="w-row">
                    <div class="w-col w-col-6">
                        <div>© motosucata.biz</div>
                    </div>
                    <div class="w-col w-col-6">
                        <a href="/sobre-nos/" class="footer-link">Sobre nós</a>
                        <a href="/formas-de-entrega/" class="footer-link">Formas de Entrega</a>
                        <a href="/formas-de-pagamento/" class="footer-link">Formas de Pagamento</a>
                        <a href="/contact" class="footer-link">Contato</a>
                        <a href="/admin/" target="_blank" class="footer-link"><img src="{%static 'products/img/lock.png'%}" alt="admin" title="admin" width="16px"/></a>
                    </div>
                </div>
            </div>
        </div>
        
        <script type="text/javascript" src="{% static 'products/js/webflow.js' %}"></script>
        <script src="{% static 'products/js/holder/holder.js' %}" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'products/js/search.js' %}"></script>
        <script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', '{% google_analytics %}', 'auto');
		  ga('send', 'pageview');
		
		</script>
        {% block script %}{% endblock %}
    </body>
</html>